  - aiohttp>=3.7.2
  - coloredlogs=14.0
  - csvkit=1.0.5
  - cycler=0.10.0
  - et_xmlfile=1.0.1
  - fsspec>=0.8.3
  - importlib-metadata=1.7.0
  - jinja2=2.11.2
  - kafka-python=2.0.1
  - numpy=1.19.1
  - pandas=1.1.1
  - pika>=1.1.0
  - pysftp=0.2.9
  - pyspark=2.4.0
  - python=3.7.9
  - python-dateutil=2.8.1
  - pytimeparse=1.1.8
  - pywget=3.2
  - pyyaml=5.3.1
  - requests=>2.24.0
  - setuptools>=49.6.0
  - simplejson>=3.10.0
  - sqlite>=3.33.0
  - streamz>=0.6.1
  - tabulate=0.8.7
  - toml=0.10.1
  - python-dotenv>=0.15.0
  - dataframe-sql==0.2.1
  - evtx>=0.6.11
  - pyattck==2.1.0
  - riskiq>=0.4.12
  - tldextract>=3.1.0
  - urllib3>=1.25.10