#certstream-analytics==0.1.7
certstream==1.11
coloredlogs==14.0
confusable-homoglyphs==3.2.0
dataframe-sql==0.2.1
defusedxml==0.6.0
elasticsearch-dsl==7.3.0
elasticsearch==7.10.1
et-xmlfile==1.0.1
evtx==0.6.11
fsspec==0.8.3
jinja2==2.11.2
kafka-python==2.0.1
numpy==1.20.0
pandas==1.1.4
pika==1.1.0
prettytable==2.0.0
#pyahocorasick==1.4.0
pyattck==2.1.0
pyspark==2.4.0
pyyaml==5.3.1
requests==2.24.0
riskiq==0.4.12
streamz==0.6.1
tabulate==0.8.7
tldextract==3.1.0
toml==0.10.1
wget==3.2
wincertstore==0.2
wordsegment==1.3.1
xlsx2html==0.2.2
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0